<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <ComponentSettings>
    <!-- Replace ComponentId with the application key you got from the Application Insights service. -->
    <ComponentId>f11f7d77-2f69-4dc6-9b02-bfb45b2a5165</ComponentId>
    <!-- "Auto" indicates developer mode when debugger is attached, "On" forces developer mode always, "Off" forces developer mode never. -->
    <DevelopmentMode enable="Auto">
      <!-- The analytics SDKs will use this Component Id when debugging -->
      <ComponentId>f11f7d77-2f69-4dc6-9b02-bfb45b2a5165</ComponentId>
      <PortalURI>https://danielmackay.visualstudio.com/</PortalURI>
      <DashboardId>d03da213-9009-4b2a-9a24-b12bc9d05913</DashboardId>
    </DevelopmentMode>
    <AccountId>129a37b2-44a8-4558-895d-323aab1aca13</AccountId>
    <LicenseKey>/6H9jEcfptzhccZTgBsoWRlnroSiHQapSOjeHF5IkUGhfrI6fLIOeu47jNMFDdDYQ5Psj7Cgd6pZxNgd0jw2Hg==</LicenseKey>
    <ComponentName>AzureQueue</ComponentName>
  </ComponentSettings>
  <ServerAnalytics enabled="true">
    <DataUploadIntervalInMinutes>1</DataUploadIntervalInMinutes>
    <AutoFillClientPropertiesFromRequest>true</AutoFillClientPropertiesFromRequest>
    <CollectClientIPAddress>true</CollectClientIPAddress>
  </ServerAnalytics>
  <MonitoringSettings xmlns="http://schemas.microsoft.com/MicrosoftMonitoringAgent/2013/Apm/CollectionPlan" Version="1.0">
    <GeneralSettings>
      <!--Threshold (in milliseconds) for performance event to be fired-->
      <PerformanceThreshold>5000</PerformanceThreshold>
      <SensitivityThreshold>100</SensitivityThreshold>
      <Namespaces>[All Namespaces]</Namespaces>
      <EntryPoints />
      <Resources />
      <EnableAllExceptions>true</EnableAllExceptions>
      <ExceptionTracking>[All Namespaces]</ExceptionTracking>
      <ExceptionHandlers />
    </GeneralSettings>
    <MemoryEventSettings>
      <Triggers>
        <IISRecycleVirtualBytesPercentage enabled="true">90</IISRecycleVirtualBytesPercentage>
        <IISRecyclePrivateBytesPercentage enabled="true">90</IISRecyclePrivateBytesPercentage>
        <PrivateBytes enabled="true" unit="percent">50</PrivateBytes>
      </Triggers>
      <Snapshots>
        <UploadToAzure>true</UploadToAzure>
        <Baselines>
          <PrivateBytes enabled="true" unit="percent">25</PrivateBytes>
        </Baselines>
      </Snapshots>
    </MemoryEventSettings>
    <LogCollectionSettings>
      <EtwProvider />
      <EtwManifestFile />
    </LogCollectionSettings>
  </MonitoringSettings>
</ApplicationInsights>